body {
  width: 80vw;
  height: 90vh;
  margin: auto;
  font-family: "Alegreya Sans SC", sans-serif;
}

/*Header*/

h1 {
  font-size: 2em;
  margin-bottom: 1px;
}

.top {
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  border-bottom: 3px solid #7d97ad;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/*Content*/

.central {
  width: 90%;
  height: 70px;
  margin: 20px auto;
  background-color: #add8e6;
  overflow: hidden;
}

#snippet {
  width: 100%;
}

.featured-work {
  width: 90%;
  height: auto;
  margin: auto;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #7d97ad;
}

#wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.my-work {
  width: 100%;
  min-width: 300px;
  margin: auto;
  overflow: hidden;
}

.my-work-style {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #2d3c49;
}

#my-card {
  width: 100%;
  height: 150px;
  background: url("images/cave1.jpg") center/100% no-repeat;
  margin-bottom: 10px;
  overflow: hidden;
}

#my-art {
  width: 100%;
  height: 150px;
  background: url("images/pixelart.png") center/cover no-repeat;
  margin-bottom: 10px;
  overflow: hidden;
}

#my-site {
  width: 100%;
  height: 150px;
  background: url("images/free.jpg") center/cover no-repeat;
  margin-bottom: 10px;
  overflow: hidden;
}

/*Media queries*/

@media screen and (min-width: 700px) {

  /*Header*/

  h1 {
    font-size: 3em;
    margin-bottom: 1px;
    font-weight: lighter;
  }

  .top {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    border-bottom: 3px solid #7d97ad;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  /*Content*/

  .central {
    width: 90%;
    height: 45%;
    margin: 20px auto;
    background-color: #add8e6;
    overflow: hidden;
  }

  #snippet {
    width: 100%;
  }

  .my-work {
    width: 22em;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #2d3c49;
    overflow: hidden;
  }
}

@media screen and (min-width: 1300px) {

  /*Header*/
  
  h1 {
    font-size: 3em;
    margin-bottom: 1px;
    font-weight: lighter;
  }

  .top {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    border-bottom: 3px solid #7d97ad;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  /*Content*/

  .central {
    width: 90%;
    height: 45%;
    margin: 20px auto;
    background-color: #add8e6;
    overflow: hidden;
  }

  #snippet {
    width: 100%;
  }

  #wrap {
    display: flex;
    justify-content: space-between;
  }

  .my-work {
    width: 22em;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #2d3c49;
    overflow: hidden;
  }
}
